body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.light-mode {
    background-color: #f5f5f5;
    color: #333;
}
header {
    background-color: orange;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

form div {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: darkorange;
}

footer {
    background-color: orange;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.back-button {
    float: right;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: orange;
}

.toggle-container {
    float: right;
    margin-right: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: -50px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #ccc;
    border-radius: 34px;
    transition: background-color 0.3s;
}

.slider.round:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 50%;
    top: 4px;
    left: 4px;
    transition: transform 0.3s;
}

.sun-icon::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background: radial-gradient(yellow, darkorange);
    border-radius: 50%;
    border: rgb(248, 210, 60) solid 1px;
    top: 1000%;
    left: -1700%;
    transform: translate(-100%, -130%);
}


.moon-icon::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background: radial-gradient(white, #6d6d71);
    border-radius: 50%;
    border: #666 solid 1px;
    top: 1000%;
    left: -1700%;
    transform: translate(-100%, -130%);
}


.dark-mode {
    background-color: #222;
    color: #fff;
}

.dark-mode header {
    background-color: #111;
}


.dark-mode input[type="text"],
.dark-mode textarea{
    background-color: gray;
}
.dark-mode button {
    background-color: black;
    color: #fff;
    text-align: center;
}

.dark-mode button:hover {
    background-color: darkgray;
}

.dark-mode footer {
    background-color: #111;
}

.dark-mode .back-button {
    background-color: #666
}
